:root{
 font-size: 3vw;
}
*{
 padding:0;
 margin:0;
 box-sizing: border-box;
 font-family: Helvetica, sans-serif;
 user-select:none;
}
*::-webkit-scrollbar{
 display: none;
}
h4{
 font-size: 1.6rem;
 margin: 0.5rem 0;
}
body{
 background-color: #efebd8;
}
main{
 padding: 3rem;
}
hr{
 margin: 0.5rem 0 1rem 0;
}
container-ehe{
 display: flex;
 flex-wrap: wrap;
 justify-content: space-between;
 align-items: center;
 margin-bottom: 1rem;
 gap: 0rem;
}
div{
 display: inline-block;
 width: 32%;
 text-decoration: none;
 border: 1px solid black;
 padding: 0.7em 0.5em;
 margin-bottom: 1rem;
 transform: translate(-0.2em, -0.3em);
 background-color: #f0f0f0;
 filter: drop-shadow(0.2rem 0.3rem 0rem rgb(193, 33, 33));
 transition: 0.1s;
 cursor: pointer;
}
a{
 text-decoration: none;
 cursor: default;
}
div:hover{
 filter: drop-shadow(0.1rem 0.15rem 0rem rgb(193, 33, 33));
 transform: translate(-0.1em, -0.15em);
}
div h4{
 font-size: 0.8rem;
 margin: 0;
}
div p{
 display: -webkit-box;
 -webkit-box-orient: vertical;
 -webkit-line-clamp: 3;
 font-size: 0.3rem;
 max-height: 3.9em;
 overflow: hidden;
 line-clamp: 3;
 opacity: 0.8;
 text-overflow: ellipsis;
}
h4{
 display:flex;
 align-items: center;
 justify-content: space-between;
}
em{
 font-style: normal;
}
button{
 font-size: 0.6rem;
 font-family:Helvetica, sans-serif;
 padding:0.2rem 0.5rem 0.2rem 0.5rem;
 border: 1px solid rgb(0, 0, 0);
 background-color: #f0f0f0;
 color: #000000;
 filter: drop-shadow(0.1rem 0.15rem 0rem rgb(193, 33, 33));
 transform: translate(-0.1em, -0.15em);
 transition: 0.1s;
}
button:hover{
 cursor: pointer;
 filter: drop-shadow(0.05rem 0.075rem 0rem rgb(193, 33, 33));
 transform: translate(-0.05rem, -0.075rem);
}
div em {
 font-style: normal;
 color: #7f7f7f;
 display:block;
 width: 100%;
 font-size: 0.36rem;
 padding-bottom: 2em;
}
@media screen and (max-width: 600px) {
 container-ehe{
  flex-direction: column;
 }
 div{
  width: 100%;
 }
 :root{
  font-size: 7vw;
 }
 main{
  padding: 1.5rem;
 }
}