:root{
 font-size: 3vw;
}
*{
 padding:0;
 margin:0;
 box-sizing: border-box;
 font-family: 'Times New Roman', sans-serif;
 user-select:none;
}
h4{
 font-size: 1.6rem;
 margin: 0.5rem 0;
}
main{
 padding: 3rem;
}
hr{
 margin: 0.5rem 0 1rem 0;
}
div{
 text-decoration: none;
 border: 1px solid black;
 padding: 0.5em 0.7em;
 margin-bottom: 1rem;
 transform: translate(-0.2em, -0.3em);
 background-color: white;
 filter: drop-shadow(0.2rem 0.3rem 0rem rgb(193, 33, 33));
 transition: 0.1s;
 cursor: pointer;
}
a{
 text-decoration: none;
 cursor: default;
}
div:hover{
 filter: drop-shadow(0.1rem 0.15rem 0rem rgb(193, 33, 33));
 transform: translate(-0.1em, -0.15em);
}
div h4{
 font-size: 1rem;
 margin-bottom: 0.5rem;
}
div p{
 font-size: 0.6rem;
 padding:0.2rem 0.5rem 0.2rem 0.5rem;
 border-left: 2px solid grey;
 color: #7f7f7f
}
h4{
 display:flex;
 align-items: center;
 justify-content: space-between;
}
em{
 font-style: normal;
}
button{
 font-size: 0.6rem;
 font-family:Helvetica, sans-serif;
 padding:0.2rem 0.5rem 0.2rem 0.5rem;
 border: 1px solid rgb(0, 0, 0);
 background-color: rgb(255, 255, 255);
 color: #000000;
 filter: drop-shadow(0.1rem 0.15rem 0rem rgb(193, 33, 33));
 transform: translate(-0.1em, -0.15em);
 transition: 0.1s;
}
button:hover{
 cursor: pointer;
 filter: drop-shadow(0.05rem 0.075rem 0rem rgb(193, 33, 33));
 transform: translate(-0.05rem, -0.075rem);
}
div em {
 font-style: normal;
 color: #7f7f7f;
 display:block;
 width: 100%;
 text-align: right;
 font-size: 0.6rem;
}
@media screen and (max-width: 600px) {
 :root{
  font-size: 7vw;
 }
 main{
  padding: 1.5rem;
 }
}